@tailwind base;
@tailwind components;
@tailwind utilities;

/* button gradient */

.btn-gradient {
    transition: 0.5s;
    background-size: 200% auto;
    width: 100%;
}

.btn-gradient:hover {
    background-position: right center;
}

.btn-gradient-transition {
    background-image: linear-gradient(to right, #3F4C6B 0%, #7583A3  51%, #3F4C6B  100%);
}